<%- include ../partials/header.ejs %>

<!-- Content for the Add_Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        value="<%= car._id %>"
                    >
                    <label for="carTextField">Make</label>
                    <input type="text" class="form-control"
                        id="makeTextField"
                        placeholder="Enter the Car Make"
                        name="make" 
                        value="<%= car.make %>"
                        required>
                </div>
                <div class="form-group">
                    <label for="modelTextField">Model</label>
                    <input type="text" class="form-control"
                        id="modelTextField"
                        placeholder="Enter a model"
                        name="model" 
                        value="<%= car.model %>"
                        >
                </div>
                <br />
               
                <div class="form-group">
                    <label for="YearTextField">Year</label>
                    <input type="number" class="form-control"
                        id="YearTextField"
                        placeholder="2022"
                        name="year" 
                        value="<%= car.year %>"
                        required>
                </div>
                <div class="form-group">
                    <label for="kilometersTextField">Kilometers</label>
                    <input type="number"
                    class="form-control"
                    id="kilometersTextField"
                    placeholder="20"
                    name="kilometers" 
                    value="<%= car.kilometers %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="doorsTextField">Doors</label>
                    <input type="number"
                    class="form-control"
                    id="doorsTextField"
                    placeholder="4"
                    name="doors" 
                    value="<%= car.doors %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="seatsTextField">Seats</label>
                    <input type="number"
                    class="form-control"
                    id="seatsTextField"
                    placeholder="5"
                    name="seats" 
                    value="<%= car.seats %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="modelTextField">Color</label>
                    <input type="text" class="form-control"
                        id="colorTextField"
                        placeholder="Enter the color"
                        name="color" 
                        value="<%= car.color %>"
                        >
                </div>

                <div class="form-group">
                    <label for="seatsTextField">Price</label>
                    <input type="number" step="0.01"
                    class="form-control"
                    id="priceTextField"
                    placeholder="9,999.99"
                    name="price" 
                    value="<%= car.price %>"
                    required>
                </div>

                <br/>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> 
                    Submit
                </button>
                
                <a href="/cars/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

            </form>
        </div>

    </div>
</div>

<%- include ../partials/footer.ejs %>